.imgs{
    width: 25vw;
    height: 25vh;
}
.delete{
    width: 60px;
    height: 20px;
    border: none;
    border-radius: 150px;
    background: #df4adf;
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
  
}
.check_out{
    width: 60px;
    height: 20px;
    border: none;
    border-radius: 150px;
    background: #df4adf;
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
}