* {box-sizing: border-box}
#btn{
    width: 60px;
    height: 20px;
    border: none;
    border-radius: 150px;
    background: #df4adf;
    color: #fff;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;

  }

  input[type=text], input[type=password],input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    
  }

  #btn:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #about{
    float : right;
    margin-left:20px;
    color: hotpink;
  }

  #contact{
    float : right;
    margin-right:20px;
    color: hotpink;
  }

  a:hover{
    color: black;
  }

  .carousel {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.carousel-slide {
    width: 100%;
}

.carousel-slide img {
    width: 100%;
    height: auto;
}

.carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}


